body {
    font-family: 'starwars', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    color: white;
    font-weight: bold;
}

@font-face {
    font-family: starwars;
    src: url("assets/starwars.ttf");
  }
  